.section-container-outer {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
}

.section-container-inner {
  margin: 100px 48px 100px 48px;
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.parallax-background {
  height: 100vh;
  background-image: url('./assets/background-image.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
